<div class="about wow fadeIn" data-wow-duration="3s" layout="column">
    <div layout="row">

       <p class="aboutMe"> Hi! My name is Page Garner. I have 28 years of roaming the world under my belt. I fell in love with coding at DevMountain & am now currently working as a mentor there. I am excited about learning blah blah. I am passionate about ideas & products that create an impact and change the way we interact with the world.</p>
    </div>

    <div class="picSkills" layout="row">
      <img class='pic' src="pic copy.jpg" />
      
        <p class="skillsTitle"> Languages </p>
       <ul>
         <li>HTML/CSS</li>
         <li>Bootstrap</li>
         <li>Javascript</li>
         <li>Jquery</li>
         <li>Angular</li>
         <li>Express</li>
         <li>Node.js</li>
         <li>Firebase</li>
         <li>MongoDb</li>
         <li>React</li>

       </ul>

    </div>

    <div class="footer2" layout="column">
        <a href="mailto:wpagegarner@gmail.com"><p class="contactMe2 wow fadeIn" data-wow-duration="3s">CONTACT ME</p></a>
        <div class="mediaRow2" layout="row">
            <a target="_blank" href="https://twitter.com/WhitneyPageG"> <p>Twitter</p> </a>

            <a target="_blank" href="https://instagram.com/wpg/"> <p>Instagram</p> </a>

            <a target="_blank" href="https://github.com/whitneypage"> <p>Github</p> </a>

            <a target="_blank" href="https://www.linkedin.com/pub/page-garner/b0/25/161"> <p>Linkedin</p> </a>
        </div>
    </div>
</div>
