<div class="wow fadeIn" layout="column" layout-align="space-around center">
    <p class="pTitle">Check It</p>
      <p class="lang">HTML/CSS | Javascript | AngularJS | NodeJS | Express | MongoDB </p>
    <p class="pDes">I loved working on this project! I wanted to make an app where restaurants could allow their waitstaff to see where they are ranked in the restaurant based on sales. They would also be able to see where their location ranks among other locations in the region and log tips. Eventually I would like to get data from the POS System and process it. I waited tables for ten years and would have loved to have had an app like this because I am competitive and would have wanted that number one spot!  </p>
    <img src="Images/checkItOut/checkLogin.png">
    <img src="Images/checkItOut/checkServerDash.png">
    <img src="Images/checkItOut/serverRank.png">
    <img src="Images/checkItOut/checkServerDash2.png">
    <img src="Images/checkItOut/checkStoreDash.png">
    <img src="Images/checkItOut/checkStoreServerStats.png">
    <a class="nextProject" href="/#/lightRail">Light Rail Connect  <i class="fa fa-angle-double-right fa-2x"></i></a>
</div>
