<div class="home">
    <p class="header wow fadeIn" data-wow-duration="3s" data-wow-duration="2s"> I am a full-stack developer in Denver, Colorado.</p>
    <div class="projects" layout="column">
        <p class="projectsTitle">Projects</p>
        <div layout="row">
            <div class="project" flex="50">
                <a href="/#/lost">
                    <div class="img img1">
                        <p class="hoverText"><span>Lost in the US!</span>
                            <br> HTML/CSS | Bootstrap | Javascript | AngularJS | Google Maps API | Firebase</p>
                    </div>
                </a>
            </div>
            <div class="project" flex="50">
                <a href="/#/checkItOut">
                    <div class="img img2">
                        <p class="hoverText"><span>CHECK IT OUT</span>
                            <br> HTML/CSS | MaterializeCSS | JQuery | Javascript | AngularJS | MongoDB </p>
                    </div>
                </a>
            </div>
        </div>
        <div layout="row">
            <div class="project" flex="50">
                <a href="/#/lightRail">
                    <div class="img img3">
                        <p class="hoverText"><span>Light Rail</span>
                            <br> HTML/CSS | Materialize | Javascript | AngularJS | Google Maps API | MongoDB </p>
                    </div>
                </a>
            </div>
            <div class="project" flex="50">
                <div class="img img4">
                    <p class="hoverText"><span>Your <br> Next <br> Project... <br></span> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" layout="column">
        <a href="mailto:wpagegarner@gmail.com">
            <p class="contactMe wow fadeIn" data-wow-duration="3s">EMAIL ME</p>
        </a>
        <div class="mediaRow" layout="row">
            <a target="_blank" href="https://twitter.com/WhitneyPageG">
                <p>Twitter</p>
            </a>
            <a target="_blank" href="https://instagram.com/wpg/">
                <p>Instagram</p>
            </a>
            <a target="_blank" href="https://github.com/whitneypage">
                <p>Github</p>
            </a>
            <a target="_blank" href="https://www.linkedin.com/pub/page-garner/b0/25/161">
                <p>Linkedin</p>
            </a>
        </div>
    </div>
</div>
