<div class="wow fadeIn" layout="column" layout-align="space-around center">
    <p class="pTitle">Light Rail Connect</p>
    <p class="lang">HTML/CSS | Javascript | AngularJS | NodeJS | Express | Google Maps API | MongoDB</p>
    <p class="pDes">This was group project where we created a lifestyle website where the good people of Phoenix, Arizona could find apartments along the Light Rail System. Users could log in and save their favorites as well. We set it up so that apartment managers could pay to list their apartments on the site if within a half mile radius of a train stop. </p>
    <img src="Images/Lightrail/Map.png">
    <img src="Images/Lightrail/DisplayApt.png">
    <img src="Images/Lightrail/ShowDetails.png">
    <img src="Images/Lightrail/SubDash.png">

    <a class="nextProject" href="/#/about">More About Me  <i class="fa fa-angle-double-right fa-2x"></i></a>
</div>
