<div class="wow fadeIn" layout="column" layout-align="space-around center">
    <p class="pTitle">Lost in the U.S.A!</p>
    <p class="lang"> HTML/CSS | Bootstrap | Javascript | AngularJS | Google Maps API | Firebase </p>
    <p class="pDes">This was my first project. I used Google Maps API to get a random street view within the United States. Simply guess the right state and you get a whooping 100 points. I used Firebase for login and to save player information and all game score history. </p>
    <img src="Images/lost/login.png">
    <img src="Images/lost/guess.png">
    <img src="Images/lost/answers.png">
    <a class="nextProject" href="/#/checkItOut">Check It  <i class="fa fa-angle-double-right fa-2x"></i></a>
</div>
